<a href="https://colab.research.google.com/github/kamala999/Python-test-code/blob/main/Creating_dictionary_from_tuple_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Creating dictionary from tuple
tl = (1,2,3,4)
val = ("kamal","rama","venkey","srinu")
dictdc= dict.fromkeys(tl,val)
print(dictdc)

{1: ('kamal', 'rama', 'venkey', 'srinu'), 2: ('kamal', 'rama', 'venkey', 'srinu'), 3: ('kamal', 'rama', 'venkey', 'srinu'), 4: ('kamal', 'rama', 'venkey', 'srinu')}

In [5]:
#i need to  assigened tl 1 to val 1 sequencly
tl = (1,2,3,4)
val = ("kamal","rama","venkey","srinu")
dictdc= dict(zip(tl,val))
print(dictdc)

{1: 'kamal', 2: 'rama', 3: 'venkey', 4: 'srinu'}

In [6]:
# same i can excute like using list [] also
tl = [1,2,3,4]
val = ["kamal","rama","venkey","srinu"]
dictdc1= dict(zip(tl,val))
print(dictdc1)

{1: 'kamal', 2: 'rama', 3: 'venkey', 4: 'srinu'}