<a href="https://colab.research.google.com/github/kamala999/Python-test-code/blob/main/Day9_User_defines%2C_Built_in%2C_Functions_Arguments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#basic finctions with out arguments
def greeatings():
    print("hello,world")
greeatings()

hello,world

In [3]:
#greeatings() is a function we can use or call it any were
a = "ramu"
print(a)

greeatings()

ramu
hello,world

In [4]:
#Basic function with one argument
def greeatings(name):
    print("hello,world", name)
greeatings("jwalitha reddy")
greeatings("kamalhasan")

hello,world jwalitha reddy
hello,world kamalhasan

In [9]:
#Basic function with multiple arguments
def addi(a,b,c):
    s = a+b+c
    print("sum is a", s)

addi(20,30,92)

sum is a 142

In [10]:
# create a functions with revers of a sentences!
def wrev(sent):
  print(sent [::-1])

wrev("today is festivel in india")

aidni ni levitsef si yadot

In [12]:
#Here's a simple Python function to check if a string is a palindrome:
def pal(w):
   if w == w [::-1]:
     print("palindrome")
   else:
     print("not palindrome")

pal("kamal")
pal("rececer")

not palindrome
palindrome

In [20]:
#keyword arguments
def n(name, initial):
   print(initial,"",name)

n(initial="s",name="kamal")

s  kamal

In [23]:
#default arguments
def tax(sal,tax=0.1):
    print("my salary is", sal*tax)


tax(78500.00)

my salary is 7850.0

In [30]:
#excuteing functions for muliple arguments in one shot
def greet(*name):
  for i in name:
    print("hello my name is ", i)

greet("kamal", "siva", "raja", "srinu", "mahesh", "gunashekar")

hello my name is  kamal
hello my name is  siva
hello my name is  raja
hello my name is  srinu
hello my name is  mahesh
hello my name is  gunashekar

In [32]:
#Disply the temprecher
def dis(*temp):
   for i in (temp):
    print( "today temp is", i, "C")

dis(25,27,29,30, 32)

today temp is 25 C
today temp is 27 C
today temp is 29 C
today temp is 30 C
today temp is 32 C

In [33]:
#One degree C =33.8F #F means fahrenheit
def degtof(*temp):
   for i in temp:
    f = i*33.8
    print(i, "c is", f, "fahrenheit")

degtof(28,30,31,33,37,)

28 c is 946.3999999999999 fahrenheit
30 c is 1013.9999999999999 fahrenheit
31 c is 1047.8 fahrenheit
33 c is 1115.3999999999999 fahrenheit
37 c is 1250.6 fahrenheit

In [36]:
#One degree C =33.8F #F\K means fahrenheit\Kelvin
def degtok(*temp):
   for i in temp:
    k = i*274.15
    print(i, "c is", k, "kelvin")

degtok(28,30,31,33,37,)

28 c is 7676.199999999999 kelvin
30 c is 8224.5 kelvin
31 c is 8498.65 kelvin
33 c is 9046.949999999999 kelvin
37 c is 10143.55 kelvin

In [42]:
#built-in functions
#sum, prod, div, divmod, diff, zip like have more built-in function lt's use it now
a = (222,333,444,555,666)
b = (2,3,4,5,6)
print(sum(a))
print(sum(b))
print(sum(a+b))

2220
20
2240