<a href="https://colab.research.google.com/github/kamala999/Python-test-code/blob/main/Day_10_Lambda_function%2C_Mapping%2C_filtering%2C_Reducing%2C_Accumulate%2C_Variable_Scope_for_practice_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Normal Python code
def fun (x,y):
   if (x>y):
    return x
   else:
    return y
print(fun(3,4))

4

In [5]:
#Normal Python code
def fun (x,y):
   if (x<y):
    return x
   else:
    return y
print(fun(3,4))

3

In [6]:
#the genaral method shown on the left  can also be rewrite using lambda
fun = lambda x,y:x if x>y else y
print(fun(3,4))

4

In [7]:
fun = lambda x,y:x if x<y else y
print(fun(3,4))

3

In [8]:
#lambda creation way #function_name = lambda_keyword next arguments: and statement
#lambda creation
myadd = lambda a,b,c: a+b+c
#now function calling
myadd(1,2,3)

6

In [15]:

#normal funcation
def passed(mark):
    if mark>=35:
       print("pass")
    else:
       print("fail")
passed(27)

fail

In [16]:
#normal funcation
def passed(mark):
    if mark>=35:
       print("pass")
    else:
       print("fail")
passed(40)

pass

In [21]:

#above function write through by lambda #The lambda creation way
#function_name = lambda_keyword next arguments: and statement
passed1 = lambda mark: "pass" if mark>=35 else "faile"
print(passed1(90))

pass

In [22]:
#above function write through by lambda #The lambda creation way
#function_name = lambda_keyword next arguments: and statement
passed1 = lambda mark: "pass" if mark>=35 else "faile"
print(passed1(30))

faile

In [2]:
#narmar function using list
def sq():
  a = [5,15,25,35]
  for i in a:
       print(i*i)

sq()

25
225
625
1225

In [3]:
#map() is itaratter in lambda same above script writing in lambda function
# defing way is #map(lambda exprition, sequence like a list)
a = [5,15,25,35]
sq = list(map(lambda i: i*i, a ))
print(sq)

[25, 225, 625, 1225]

In [4]:
#Even numbers!
# 2,4,6,8------
#when divide by 2, we will get 0 remainder
n = int(input("Enter the numbers"))
if n%2 ==0:
  print("even number")
else:
    print("odd number")

Enter the numbers33
odd number

In [5]:
#Even numbers!
# 2,4,6,8------
#when divide by 2, we will get 0 remainder
n = int(input("Enter the numbers"))
if n%2 ==0:
  print("even number")
else:
    print("odd number")

Enter the numbers44
even number

In [14]:
#using the lambda functions we can find even numbers from the list
#by using filtter function of lambda #for that using the fillter formula
#function_name = list(filtter(lambda argument: condition, listname))
a = [35,44,66,78,88,99,67]
nu = list(filter(lambda a: a%2 ==0, a))
print(nu)

[44, 66, 78, 88]

In [17]:
#using reduce function in lambda for that formula code
#reduce(lambda argument: statemnt,sequence)
# reduce is the functiontools package so we need to import
d = [3,5,8,10]
from functools import reduce
results1 = reduce(lambda a,b: a+b, d)
print(results1)

26

In [19]:
from functools import reduce

d = [3, 5, 8, 10]
results2 = reduce(lambda a, b: a * b, d)
print(results2)  # Output: 1200 (3 * 5 * 8 * 10)

1200

In [21]:
t =[1,2,5,-1,6,-10,11,]
result3 = reduce(lambda a,b: a if a>b else b, t)
print(result3)## Output: 11 (maximum value in the list)

11

In [22]:
t =[1,2,5,-1,6,-10,11,]
result3 = reduce(lambda a,b: a if a<b else b, t)
print(result3)## Output: -10 (maximum value in the list)

-10

In [23]:
from functools import reduce

d = [3, 5, 8, 10]
max_value = reduce(lambda a, b: a if a > b else b, d)
print(max_value)  # Output: 10 (maximum value in the list)

10

In [29]:
#accumulate function by using lambda
from itertools import accumulate
numb = [1,2,3,4,5,6,7,8,9,10]
acmlt = tuple(accumulate(numb, lambda a,b: a+b))
print(acmlt)

(1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

In [30]:
#accumulate function by using lambda
from itertools import accumulate
numb = [1,2,3,4,5,6,7,8,9,10]
acmlt = tuple(accumulate(numb, lambda a,b: a*b))
print(acmlt)

(1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800)