<a href="https://colab.research.google.com/github/kamala999/Python-test-code/blob/main/Day_8%2C_Conditional_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Conditional Statements
#if is one condition use
#else is one condition use
#elif is a multiple conditional use

In [1]:
# using if condition
date = input("enter the date: ")

if date == "19":
  print("monday")

enter the date: 19
monday

In [3]:
#Ex1
# now using if,elif,else condition because multiple conditions excute now
date = input("enter the date: ")

if date == "19":
  print("monday")
elif date == "20":
  print("thuseday")
elif date == "21":
  print("wednesday")
elif date == "22":
  print("thursday")
else:
  print("date is out of boundory")

enter the date: 23
date is out of boundory

In [4]:
#Ex2
# now using if,elif,else condition because multiple conditions excute now
date = input("enter the date: ")

if date == "19":
  print("monday")
elif date == "20":
  print("thuseday")
elif date == "21":
  print("wednesday")
elif date == "22":
  print("thursday")
else:
  print("date is out of boundory")

enter the date: 21
wednesday

In [7]:
#Ex3
#printing day with date
date = int(input("enter the date: "))

if date == 0:
  print("does not exist date")
elif date <= 3: #123
  print("week1")
elif 4<date<=10:
  print("week2")
elif 11<date<=17:
  print("week3")
elif 18<date<=24:
  print("week4")
elif 25<date<=29:
  print("week5")
else:
  print("february have only 29 days")

enter the date: 22
week4

In [10]:
#Find the large number among the three numbers using nested if else statement
x = 5
y = 10
z = 15
if x>y:
  print("y is bigger")
else:
  if y<z:
    print("z is bigger")
  else:
    print("this is lesser value")

z is bigger

In [13]:
#if -(else-(if-else)) the senario is marks more than 90 give gradeA+, more then 80 give A grade, less then 80 give Bgrade
mark = int(input("enter the marks: "))
if mark >90:
  print("grade A+")
else:
  if mark >80:
    print("grade A")
  else:
    print("grade B")

enter the marks: 86
grade A

In [1]:
#Nested If statements
name = input("Enter the name user name: " )
passkeys = int(input("Enter the passkey: "))
code_word = input("Enter the code word")
if name == "joe":
  if passkeys == 4735:
    if code_word == "hi":
      print("Open the door")

Enter the name user name: joe
Enter the passkey: 4735
Enter the code wordhi
Open the door

In [6]:

#while cond:
 #statement
n = 0
while (n < 3):
  print("hi")
  n = n+1

hi
hi
hi

In [9]:
#nested for loop
phones = ["redmi", "realme", "xiami"]
colores = ["black", "red", "wite"]
for i in phones:
  for j in colores:
    print(i,j)

redmi black
redmi red
redmi wite
realme black
realme red
realme wite
xiami black
xiami red
xiami wite

In [10]:
#while loop with else statement
n = 0
while (n < 3):
  print("hi")
  n = n+1
else:
    print("over")

hi
hi
hi
over

In [16]:
# nested list compension
li = [87, 77, 67, 88]
lc1 = ["A+" if mark>90 else "A" if mark>80 else "B"  for mark in li]
lc1

['A', 'B', 'B', 'A']