<a href="https://colab.research.google.com/github/kamala999/Python-test-code/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#create tuple
tu = ("hi", "hello", "how")
print(tu)
print(type(tu))

('hi', 'hello', 'how')
<class 'tuple'>

In [3]:
#create hetro tuple
t2 = ("hi", 59, 24, 56.6, "kill")
print(t2)

('hi', 59, 24, 56.6, 'kill')

In [13]:
#using sort in list
t2 = [12,34,18,16,28,25]
t2.sort()
print(t2)

[12, 16, 18, 25, 28, 34]

In [14]:
#using sort in tuple hear use list for [] and tuple use for ()

t2 = (12,34,18,16,28,25)
t3 = sorted(t2)
print(t2)
print(type(t2))
print(t3)
print(type(t3))

(12, 34, 18, 16, 28, 25)
<class 'tuple'>
[12, 16, 18, 25, 28, 34]
<class 'list'>

In [15]:
#reverse sorting
t2 = (12,34,18,16,28,25)
t3 = sorted(t2,reverse = True)
print(t2)
print(type(t2))
print(t3)
print(type(t3))

(12, 34, 18, 16, 28, 25)
<class 'tuple'>
[34, 28, 25, 18, 16, 12]
<class 'list'>

In [16]:
#repeating a tuple
tu = ("hi", "hello", "how")
tu2 = tu*2
print(tu2)

('hi', 'hello', 'how', 'hi', 'hello', 'how')

In [18]:
# concatenating means adding two tuples are list togather
tu = ("hi", "hello", "how")
t2 = ("hi", 59, 24, 56.6, "kill")
t4 = (tu+t2)
print(t4)

('hi', 'hello', 'how', 'hi', 59, 24, 56.6, 'kill')

In [20]:
#membership operater
print(t4)
print(55 in t4)
print("how" in t4)
print(59 not in t4)
print("kill" not in t4)

('hi', 'hello', 'how', 'hi', 59, 24, 56.6, 'kill')
False
True
False
False

In [25]:
#itteration
for i in t4:
  print(i, "eliment")

hi eliment
hello eliment
how eliment
hi eliment
59 eliment
24 eliment
56.6 eliment
kill eliment

In [26]:
#access
print(t4[4])

59

In [27]:
#checking lenght
print(len(t4))

8

In [29]:
t2 = (12,34,18,16,28,25,50.5)
print(len(t2))
print(max(t2))
print(min(t2))

7
50.5
12

In [47]:
#create and access a list inside tuple
tl = (5,15,["kamal","hasan","book"],25,35)
#0 = 5,
#1=15
#3 1=this, 2=is, 3=book
#4=25
#5=35
#i want add few strings in this tuple using
print(tl)
print(tl[3])
print(tl[2][1])
ta = (tl[2].append("sura"))
print(tl)

(5, 15, ['kamal', 'hasan', 'book'], 25, 35)
25
hasan
(5, 15, ['kamal', 'hasan', 'book', 'sura'], 25, 35)

In [51]:
#tuple sliceing
tl[0:4]

(5, 15, ['kamal', 'hasan', 'book', 'sura'], 25)